/*Dashboard-Nav*/
.header-left {
    border-right: 1px solid #848484;
}
.navbar-header a {
  font-size: 16px;
  padding: 5px 0 5px 45px;
  line-height: 45px;
  color: #fff;
}
.navbar-header a.selected {
  color: #fff;
  opacity: 0.3;
}
.container-fluid {
  padding: 0;
}
.navbar{
  margin-bottom: auto;
  height: 100%;
}

.navbar-nav{
  margin-bottom: auto;
  height: 100%;
}
.navbar-nav li{
  margin-bottom: auto;
  height: 100%;
}
.dashboard-nav li a.active{
  background-color: #87b451;
}
.dashboard-nav li a{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: auto;
  height: 100%;
  font-size: 18px;
  padding-top: 22px;
  padding-left: 40px;
  padding-right: 40px;
  color: #000;
}

.dashboard-nav li a:hover, .dashboard-nav li a:active, .dashboard-nav li a:focus, .dashboard-nav li.active a{
  margin-bottom: auto;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #87b451;
}

/*Dashboard System*/

.container .jumbotron, .container-fluid .jumbotron  {
    padding: 20px;
    background-color: #fff;
    margin-left: 30px;
    margin-top: 30px;
}
.jumbotron p{
  font-size: 12px;
  text-align: left;
  font-weight: 400;
}
.jumbotron{
  margin-bottom: 15px;
  box-shadow: 0 0 5px #e5e5e5;

}

html{
  background-color: #f1f4f5;
}

footer {
  height: 50px;
  background: #000;
  opacity: 0.87;
  margin-bottom: 0px;
  margin-top: 25px;
}
footer p {
  font-size: 14px;
  color: #fff;
  padding: 12px 10px 0 10px;
}

.statistics{
  width: 48%;
  margin: 5px;
  box-shadow: 0 0 5px #e5e5e5;
}
.right-column .views{
  width: 90%;
  margin: 10px;
  box-shadow: 0 0 5px #e5e5e5;
}

.left-column{
  text-align: center;
  padding-left: 0;
}
.jumbotron h4{
  text-align:left;
}
.statistics-images{
  text-align: center;
  float: left;
  padding-left: 25px;
}

.container .row, .container-fluid .row:first-child{
  width:100%;
  margin: 0px;
}
.col-sm-12, .ng-scope{
  margin:0px;
  padding-left: 0;
  padding-right: 0;

}

/*System-Edit*/
.edit-btn{
  background: #ff9800;
  border: none;
  text-decoration: none;
  float: left;
  clear: both;
  margin-left: 30px;
  margin-bottom: 20px;
  color: #000;
  box-shadow: 0 0 5px #e5e5e5;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus{
  background: #ff9800;
  border: none;
  outline: 0;
  color: #000;
}
.right-column{
  text-align: center;
  padding-top: 20px;
  margin-top: 7px;
}
.glyphicon-plus{
  top:auto;
  box-shadow: 0 0 5px #517c1d;
}
label{
  float: left;
  font-weight: normal;
  font-size: 13px;
}
.right-edit{
  padding-top: 23px;
}
h5{
text-align: left;
font-size: 13px;
}
p.description{
  border: 1px solid #e5e5e5;
  padding: 10px;
}
.save-btn{
  margin: 0;
}
.cancel,.cancel:hover,.cancel:focus,.cancel:active,.cancel.active,.cancel.focus{
  margin-left: 15px;
  color: #ff9800;
  float: left;
  background: none;
  text-decoration: none;
  box-shadow: none;
  outline: none;
  border:none;
  display: inline-block;
  display: inline-block;
  padding: 6px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

}

/*Data-model*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15
{
    position: relative;
    min-height: 1px;
}

.col-xs-15
{
    width: 20%;
    float: left;
}

@media (min-width: 768px)
{
    .col-sm-15
    {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px)
{
     .col-md-15
     {
        width: 20%;
        float: left;
        margin: 20px 0;
    }
}

@media (min-width: 1200px)
{
    .col-lg-15
    {
        width: 20%;
        float: left;
        margin: 20px 0;
    }
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.col-lg-15 .button-plus,.col-md-15 .button-plus{
  float: left;
  position: static;
}
.col-lg-15 .glyphicon-plus{
  top:auto;
  box-shadow: 0 0 5px #8C8C8C;
}
.col-lg-15 .button-plus span,.col-md-15 .button-plus span{
  padding: 6px;
  padding-left: 7px;
}

.input-group {
    width: 80%;
    float: left;
    margin-right: 12px;
  }
.search-row{
  padding: 5px;
}
.glyphicon-option-vertical{
  float: right;
  color: #ff9800;
  top: 2px;
  cursor: pointer;

}
.model-list{
  overflow-y: scroll;
  height: 250px;
  background-color: white;
}
.model-list .list-group-item{
    border: none;
    font-size: 13px;
}
.model-list .list-group-item:first-child{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.model-list .list-group-item:last-child {
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.properties-box-header{
  float: left;
  width: 100px;
  height: 35px;
  background-color: #69a125;
  border-bottom-right-radius: 15px;
  text-align: center;
  padding: 8px;
  padding-right: 18px;
  clear: both;
}
.properties-header{
  color: white;
  font-size: 13px;
}
p.properties{
  margin-top: 15px;
  margin-left: 15px;
  float: left;
  clear: both;
  font-size: 12px;
  line-height: 1.5;
}
.data-model-row{
  border-left: 1px solid #ccc;

}
.search-row, .properties-row{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.properties-row{
  height: 270px;
}
.data-model-row{
  background-color: #dedede;
}
.col-md-15 h4,.col-lg-15 h4{
  margin-left: 10px;
  font-size: 18px;
  font-weight: 300;
}
.data-model-row .dropdown-menu {
  position: relative;
  float: right;
}
ul.data-model-menu i{
  float: left;
  font-size: 15px;
}
.dropdown-menu > li > a {
  padding: 3px 10px;
  font-size: 13px;
}
.fa{
  padding-top: 2px;
}
.container .row-bck{
  box-shadow: 0 4px 10px #b5b5b5;
}

.data-model-row .dropdown-menu {
    position: absolute;
    float: right;
    margin-left: 23%;
    top: 0;
    margin-top: 10%;
}

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}
.button-plus{
  cursor: pointer;
}
.modal-content{
  padding: 20px;
}
.input-group .form-control {
  font-size: 13px;
}
.radio{
  float: left;
  clear: left;
}
.check-list{
  width:100%;
  height:150px;
  overflow-y:scroll;
}
.checkbox label{
  float: none;
  line-height: 1.7;
}
.modal-content select.form-control{
  width: 80%;
  float: left;
  clear: both;
}
.modal-content .col-lg-5{
  padding: 0;
}

.modal-content select.multiselect{
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
}
.col-lg-15 .modal-content .row{
  border: none;
}
input.ip{
  width: 60%;
  float: left;
}
input.port{
  width: 20%;
}
.ip-port label{
  padding: 5px;
}
label.columns{
  float: none;
}
.multiselect-row .fa{
  color: #ff9800;
  font-size: 18px;
  cursor: pointer;
}
.arrows{
  padding-top: 10%;
  padding-bottom: 10%;
}
.modal-content p {
  font-size: 13px;
}
.multiselect-row {
  padding: 0 10px;
}
.row.data-container {
    padding-left: 20px;
    padding-right: 20px;
}
.data-model-row.last{
  border-right: 1px solid #ccc;
}

/*Profile*/
.profile-container .jumbotron.profile-box {
    background-color: white;
    padding: 15px;
}
.row.profile-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}
.profile-container .profile-img{
  height: 170px;
  width: 170px;
  background-color: #d8dbdc;
  border-radius: 4px;
  margin-right: 20px;
}
.profile-container .profile-img .fa-pencil{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 7px;
  margin-bottom: 7px;
  font-size: 18px;
  cursor: pointer;
}
.row.profile-container p{
  font-size: 14px;
  margin-bottom: 0;
}
.row.profile-container p a{
  color: #ff9800;
  text-decoration: none;
}
.row.profile-container h4{
  font-size: 24px;
}
.profile-container .divider {
  height: 1px;
  width:100%;
  display:block;
  margin: 40px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.row.profile-container h3{
  font-size: 17px;
}
.profile-container .profile-btn{
  background: #ff9800;
  border: none;
  text-decoration: none;
  float: left;
  clear: both;
  margin-left: 30px;
  margin-bottom: 20px;
  color: #000;
  box-shadow: 0 0 5px #e5e5e5;
  margin: 0;
}
.profile-container .col-md-9.profile .checkbox{
  float: left;
  clear: both;
}
.row.profile-container {
  width: 100%;
  padding-right: 0;
}
.profile-container .jumbotron.profile-status {
    background-color: #e1e1e1;
    padding: 15px;
}
.jumbotron.profile-status p{
  margin-bottom: 0;
  font-size: 16px;
}
/*Profile-Edit*/
.row.profile-btns{
  margin: 0;
}
.input-md{
  width: 70%;
  float: left;
  clear: both;
}
.input-sm{
  width: 30%;
  float: left;
  clear: both;
}

/*Sync Setup*/

.test {
	padding: 10;
	margin: 10;
	font-family: "Open Sans", sans-serif;
	font-style: italic;
}


.node-rect {
	stroke: none;
	stroke-width: 2;
	fill:white;
}

.mouseover-node-rect {
	stroke: #e5e5e5;
	stroke-width: 4;
		fill:white;

}

.selected-node-rect {
	stroke: #e5e5e5;
	stroke-width: 3;
		fill:#e5e5e5;
}

.connector-circle {
    fill: transparent;
    stroke:;
    stroke-width:;
}

.mouseover-connector-circle {
    fill: transparent;
    stroke: black;
    stroke-width: 3;
}

.connection {
}

.connection-line {
	stroke: gray;
	stroke-width: 2;
	fill: transparent;
}

.mouseover-connection-line {
	stroke: gray;
	stroke-width: 4;
	fill: transparent;
}

.selected-connection-line {
	stroke: #ff9800;
	stroke-width: 4;
	fill: transparent;
}

.connection-endpoint {
	fill: transparent;
}

.selected-connection-endpoint {
	fill: transparent;
}

.mouseover-connection-endpoint {
	fill: transparent;
}

.dragging-connection {
	pointer-events: none;
}

.dragging-connection-line {
	stroke: gray;
	stroke-width: 3;
	fill: transparent;
}

.dragging-connection-endpoint {
	fill: gray;
}

.draggable-container {
	border: solid 1px blue;
}

.drag-selection-rect {
	stroke: blue;
	stroke-width: 2;
	fill: transparent;
}

/*Dashboard*/
.container-fluid .jumbotron.dashboard-warning{
  background-color: #fff06f;
  padding: 0;
}
a.close {
    text-decoration: none !important;
    font-size: 28px !important;
    margin-right: 5px;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.dashboard-warning .warning-icon, .dashboard-warning .warning-info{
  padding: 0;
}
.dashboard-warning .warning-wrapper{
  padding-top: 15px;
}
.dashboard-warning .warning-icon .fa{
  font-size: 35px;
  color: #ff9800;
}
.dashboard-warning .warning-info{
  width: 87%;
}
.dashboard-views .views{
  width: 100%;
}

.statistic-wrapper.devices{
  background:transparent url(../images/devices.png) no-repeat center center;
}
.statistic-wrapper.systems{
  background:transparent url(../images/systems.png) no-repeat center center;
}
.statistic-wrapper.users{
  background:transparent url(../images/users.png) no-repeat center center;
}
.statistic-wrapper.transactions{
  background:transparent url(../images/transactions.png) no-repeat center center;
}
.statistic-wrapper.systems,.statistic-wrapper.users,.statistic-wrapper.transactions,.statistic-wrapper.devices{
  background-size: contain;
  height: 150px;
  background-origin: content-box;
}
.container-fluid .jumbotron.dashboard-warning {
  margin-left: 15px;
  margin-bottom: 20px;
  margin-right: 15px;
}
.row.dashboard-views {
  margin-bottom: 15px;
}

.statistic-wrapper .number,
.statistic-wrapper .title,
.statistic-wrapper .list-view{
  float: left;
  clear: both;
  margin-left: 15px;
  color: #fff;
  font-weight: 300;
}

.statistics-images.dashboard{
  padding-left: 0;
}
.statistic-wrapper .number{
  margin-top: 15px;
  font-size: 50px;
  line-height: 1.1;
}
.statistic-wrapper .title{
  font-size: 16px;
}
.statistic-wrapper .list-view{
  margin-top: 25px;
  font-size: 14px;
  color: #ffd180;
  cursor: pointer;
}
.right-column.dashboard-news{
  margin: 0;
  padding-left: 0;
  margin-top: 10px;
}
.jumbotron.news-container{
  margin: 0;
  padding: 0;
  border-radius: 2px;
  box-shadow: none;
}
.jumbotron.news-container .news-header{
  background-color: #ebebeb;
  font-size: 15px;
}
.jumbotron.news-container h4.news{
  font-size: 20px;
  margin-left: 15px;
}
.jumbotron.news-container .dashboard-new{
  padding: 15px;
  text-align: left;
  padding-bottom: 0;
}
.jumbotron.news-container .dashboard-new .title{
  font-size: 14px;
  margin-bottom: 3px;
}
.jumbotron.news-container .dashboard-new .post-info{
  font-size: 11px;
  color: #ccc;
}

.jumbotron.news-container .divider {
    height: 1px;
    width: 90%;
    display: block;
    margin: 10px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    margin-left: 15px;
}
